@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

::placeholder {
  color: rgba(255,255,255,0.5);
}

:focus {
  -moz-outline: 0;
  outline: 0;
}

html, body {
  margin:0;
  padding:0;
  font-family: 'Montserrat', 'helvetica', 'arial', sans-serif;
  font-size: 14px;
}

header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 105px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  padding: 1em;
  overflow: auto;
  z-index: 2;
}

header:before {
  content: '';
  display: block;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #896abb url('imgs/bkg2.gif') calc( 100% + 100px ) -73px no-repeat;
  background-size: auto 250px;
  opacity: 1;
}

header:after {
  content: '';
  display: block;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  z-index: -2;
  background: white;
}

header h2 {
  padding: 0;
  margin: 0;
}

#ordine {
  max-height: calc( 100vh - 150px );
  overflow: auto;
  margin-bottom: 20px;
}

#main {
  padding-bottom: 60px;
}

#inserimento, #riassunto {
  padding: 125px 1em 1em 1em ;
}

nav {
  float: left;
  clear: both;
  width: 100%;
  position: fixed;
  bottom:15px;
  right: 15px;
  width: calc( 100% - 30px );
  height: 40px;
}

.tab-content {
  padding: 0 0 1em 0;
  display: none;
}

.tab-content.is-active {
  display: block;
}

.tab-button {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding: 0 1em;
  background: #eee;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.tab-button.tab-button--img {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%,0);
  padding: 0 ;
  background: none;
  background: #000;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.15);
}

.tab-button.tab-button--img img {
  border-radius: 50%;
  width: 100%;
  transition: all 0.3s;
}

.tab-button.tab-button--img:hover img {
  opacity: 0.75;
}

.tab-button.tab-button--img.phone {
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
}

.tab-button.tab-button--img.is-active {
  display: none;
}

.tab-button.is-active {
  background: #ddd;
}

.error {
  color: #bbb;
  font-style: italic;
}

#ordine .error,
#lista .error {
  text-decoration: line-through;
  font-weight: bold;
}

#ordinetesto {
  font-size: 16px;
  width: calc( 100% - 110px);
  min-width: 200px;
  margin: 0.5em 0 1em 0 ;
  float: left;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  background: none;
  font-family: 'Montserrat', 'helvetica', 'arial', sans-serif;
  resize: none;
  color: white;
  font-weight: bold;
  height: 2em;
  line-height: 2em;
}

textarea#ordinetesto {
  min-height: 7em;
  resize: vertical;
}

#ordinetesto.errorValidate {
  /* border-bottom: #d01641 solid 1px; */
  border-bottom: #ff587f solid 1px;
}

.order-list {
  margin: 0;
  padding: 0 0 0.5em 0;
}

body:not(.read-mode) .order-list {
  column-gap: 0;
  /*column-width: 180px;*/
  column-width: 250px;
  border-right: 1px solid #ddd;
}

.order-list li {
  list-style: none;
  padding: 0 1em 1.5em 0.5em;
  overflow: auto;
  break-after: avoid;
  break-inside: avoid;
  border-left: 1px solid #ddd;
}

.order-list .categoria {
  padding: 0 0 1em 0;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  break-after: avoid;
  break-inside: avoid;
}

.order-list .categoria h2 {
  border-top: 1px solid #ddd;
  font-size: 1.1em;
  padding: 1em 0.5em 0.5em 0.5em;
  margin: 0;
}


.order-list .list-item .list-num {
  display: block;
  width: 3em;
  margin-left: -1em;
  margin-right: 0.5em;
  padding: 0 0.5em 0 0;
  text-align: right;
  float:left;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.order-list .list-item .list-name {
  float:left;
  width: calc( 100% - 2.5em - 85px);
}

.order-list .list-item .list-name small {
  color: #999;
}

.order-list .list-item .list-num,
.order-list .list-item .list-name {
  margin-top: 3px;
  padding-right: 10px;
}

.order-list .list-item .list-select {
  float:right;
  width: 70px;
}

.order-list .list-item .list-qty {
  width: 20px;
  display: inline-block;
  text-align: center;
  border: none;
  padding: 0;
  height: 25px;
  line-height: 25px;
}

.order-list .list-item .list-btn {
  background: #8f69be;
  color: white;
  border: none;
  border-radius: 25px;
  width: 25px;
  padding: 0;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  transition: all 0.2s;
  font-size: 16px;
}

.order-list .list-item .list-btn:hover {
  opacity: 0.9;
}

.order-list .list-item .list-btn[disabled] {
  opacity: 0.25;
}

@media (max-width:460px) {
  .order-list .list-item .list-name {
    width: calc( 100% - 2.5em - 100px);
  }
  .order-list .list-item .list-select {
    width: 100px;
  }
  .order-list .list-item .list-qty {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
  }
  .order-list .list-item .list-btn{
    border-radius: 35px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
  }
  .order-list .list-item .list-num,
  .order-list .list-item .list-name {
    margin-top: 8px;
    font-size: 16px;
  }
}

body.no-name .order-list .list-item .list-select {
  display: none;
}

body.no-name .order-list .list-item .list-name {
  width: calc( 100% - 2.5em);
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

#ordine table {
  border-spacing: 0;
  min-width: 100%;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

#ordine table tr:nth-child(2n) {
  background: #f5f5f5;
}

#ordine table th,
#ordine table td {
  text-align: center;
  padding: 5px;
}

#ordine table th:nth-child(1),
#ordine table td:nth-child(1) {
  font-weight: bold;
}

#ordine table th:nth-child(2),
#ordine table td:nth-child(2) {
  text-align: left;
}

#ordine table th {
  text-transform: capitalize;
  background: #ddd;
}

@media (max-width: 767px) {
  #ordine table th .desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  #ordine table th .mobile {
    display: none;
  }
}

#ordine table td {
  border-left: 1px solid #eee;
}

@media (min-width: 767px) {
  .tab-button.tab-button--img {
    height: 100px;
    width: 100px;
  }
  #main {
    padding-bottom: 100px;
  }
}

/*@media (max-width: 768px) {
  #ordine table th,
  #ordine table td {
    display: none;
  }
  #ordine table th:nth-child(1),
  #ordine table td:nth-child(1),
  #ordine table th:nth-child(2),
  #ordine table td:nth-child(2),
  #ordine table th:nth-child(3),
  #ordine table td:nth-child(3) {
    display: table-cell;
  }
}*/

.btn-phone {
  color: #333;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  margin-bottom: 1em;
}
.btn-phone img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 1em;
}

.error-msg {
  background: #f9dada;
  color: darkred;
  padding: 0.5em;
  margin-bottom: 1em;
}

.select-nomi {
  width: 70%;
  max-width: 180px;
  /* styling */
  background-color: white;
  border-radius: 1.5em;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-nomi {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.select-nomi:focus {
  background-image:
    linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, gray 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

body:not(.read-mode):not(.no-name) .list-item:not(.is-hidden) .list-num {
  background: #fe9908;
  color: white;
}


/****/



body.read-mode .is-hidden {
  display:none;
}

body.read-mode .list-btn {
  display:none;
}

body.read-mode .list-qty {
  float:right;
}

body.read-mode .categoria {
  display:none;
}

body.read-mode .order-list:before {
  content: 'IL TUO ORDINE';
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1em;
}

.toggle-mode {
  background: #aaa;
  color: white;
  border: none;
  border-radius: 25px;
  min-width: 75px;
  padding: 0.5em;
  line-height: 1em;
  font-weight: normal;
  transition: all 0.2s;
  font-size: 16px;
  margin: 0 0 1em 0;
}

body.read-mode .list-item {
  min-height: 65px
}

body.read-mode .order-list li {
    padding: 0.5em 0;
    border-left: none;
    border-bottom: 1px solid #ddd;
}

.label-write {
  display: none;
}

body.read-mode .label-read {
  display: none;
}

body.read-mode .label-write {
  display: inline;
}
