@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

::placeholder {
  color: rgba(255,255,255,0.5);
}

:focus {
  -moz-outline: 0;
  outline: 0;
}

html, body {
  margin:0;
  padding:0;
  font-family: 'Montserrat', 'helvetica', 'arial', sans-serif;
  font-size: 14px;
}

header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 105px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  padding: 1em;
  overflow: auto;
}

header:before {
  content: '';
  display: block;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #896abb url('imgs/bkg2.gif') calc( 100% + 100px ) -73px no-repeat;
  background-size: auto 250px;
  opacity: 1;
}

header:after {
  content: '';
  display: block;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  z-index: -2;
  background: white;
}

header h2 {
  padding: 0;
  margin: 0;
}

#ordine {
  max-height: calc( 100vh - 150px );
  overflow: auto;
  margin-bottom: 20px;
}

#main {
  padding-bottom: 60px;
}

#inserimento, #riassunto {
  padding: 125px 1em 1em 1em ;
}

nav {
  float: left;
  clear: both;
  width: 100%;
  position: fixed;
  bottom:15px;
  right: 15px;
  width: calc( 100% - 30px );
  height: 40px;
}

.tab-content {
  padding: 0 0 1em 0;
  display: none;
}

.tab-content.is-active {
  display: block;
}

.tab-button {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding: 0 1em;
  background: #eee;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.tab-button.tab-button--img {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%,0);
  padding: 0 ;
  background: none;
  background: #000;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.15);
}

.tab-button.tab-button--img img {
  border-radius: 50%;
  width: 100%;
  transition: all 0.3s;
}

.tab-button.tab-button--img:hover img {
  opacity: 0.75;
}

.tab-button.tab-button--img.phone {
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
}

.tab-button.tab-button--img.is-active {
  display: none;
}

.tab-button.is-active {
  background: #ddd;
}

.error {
  color: #bbb;
  font-style: italic;
}

#ordine .error,
#lista .error {
  text-decoration: line-through;
}

#ordinetesto {
  font-size: 16px;
  width: calc( 100% - 110px);
  min-width: 200px;
  margin: 0.5em 0 1em 0 ;
  float: left;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  background: none;
  font-family: 'Montserrat', 'helvetica', 'arial', sans-serif;
  resize: none;
  color: white;
  font-weight: bold;
}

textarea#ordinetesto {
  min-height: 7em;
  resize: vertical;
}

#ordinetesto.errorValidate {
  /* border-bottom: #d01641 solid 1px; */
  border-bottom: #ff587f solid 1px;
}

.order-list {
  margin: 0;
  padding: 0 0 0.5em 0;
  column-gap: 0;
  column-width: 180px;
  border-right: 1px solid #ddd;
}

.order-list li {
  list-style: none;
  padding: 1em 0.5em 0 0.5em;
  overflow: auto;
  break-after: avoid;
  break-inside: avoid;
  border-left: 1px solid #ddd;
}

.order-list li.categoria {
  padding-top: 1em;
  padding-right: 0;
  padding-left: 0;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  break-after: avoid;
  break-inside: avoid;
}

.order-list li.categoria:first-child {
  padding-top: 0;
}


.order-list li.categoria h2 {
  border-top: 1px solid #ddd;
  font-size: 1.1em;
  padding: 1em 0.5em 0.5em 0.5em;
  margin: 0;
}


.order-list li .list-num {
  display: inline-block;
  width: 2em;
  padding: 0 0.5em 0 0;
  text-align: right;
  float:left;
}

.order-list li .list-name {
  float:left;
  width: calc( 100% - 2.5em );
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

#ordine table {
  border-spacing: 0;
  min-width: 100%;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

#ordine table tr:nth-child(2n) {
  background: #f5f5f5;
}

#ordine table th,
#ordine table td {
  text-align: center;
  padding: 5px;
}

#ordine table th:nth-child(1),
#ordine table td:nth-child(1) {
  font-weight: bold;
}

#ordine table th:nth-child(2),
#ordine table td:nth-child(2) {
  text-align: left;
}

#ordine table th {
  text-transform: capitalize;
  background: #ddd;
}

#ordine table td {
  border-left: 1px solid #eee;
}

@media (min-width: 767px) {
  .tab-button.tab-button--img {
    height: 100px;
    width: 100px;
  }
  #main {
    padding-bottom: 100px;
  }
}

.btn-phone {
  color: #333;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  margin-bottom: 1em;
}
.btn-phone img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 1em;
}

.menu-nomi {
  height: 70px;
  margin: 0;
  margin-left: -0.25em;
  margin-right: -0.25em;
  padding: 0;
}

.menu-nomi li {
  margin: 0;
  padding: 0 0.25em 0.5em 0.25em;
  display: inline-block;
  list-style: none;
}

.menu-nomi li a {
  display: inline-block;
  padding: 0.25em;
  color: #333;
  width: 70px;
  text-align: center;
  background: rgba(0,0,0,0.1);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-nomi li.active a {
  background: rgba(0,0,0,0.2);
  color: white;
  font-weight: bold;
}

.error-msg {
  background: #f9dada;
  color: darkred;
  padding: 0.5em;
  margin-bottom: 1em;
}

.styled-select {
   background: #fff url(http://i62.tinypic.com/15xvbd5.png) no-repeat calc(100% - 10px) 0;
   height: 29px;
   overflow: hidden;
   width: 70%;
   max-width: 150px;
   margin-bottom: 15px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 16px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: calc( 100% + 30px );
}


/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
